# IDE and OS artifacts
.DS_Store
.idea/

# Packaging artifacts
.bin/
vendor/
conjur_buildpack/
*.zip

# Integration test artifacts
tests/integration/features/reports/
tests/Gemfile.lock

# Unit test artifacts
./test
TestReport-test.xml
tmp/
tests/retrieve-secrets/temp_clone_dir
bin/conjur-env/output/
buildpack/conjur-env/output
