# IDE and OS artifacts
.DS_Store
.idea/

# Packaging artifacts
.bin/
vendor/
conjur_buildpack/
*.zip

# Integration test artifacts
*.xml
tests/Gemfile.lock
tests/**/manifest.yml

# Unit test artifacts
./test
tmp/
tests/retrieve-secrets/temp_clone_dir
conjur-env/output
