---
applications:
- name: php-app
  env:
    CONJUR_BUILDPACK_BYPASS_SERVICE_CHECK: true
    SECRETS_YAML_PATH: lib/secrets.yml
    SECRETS_YAML_ENVIRONMENT: staging
  buildpacks:
  - {conjur_buildpack}
  - php_buildpack
